/* line 1, ../scss/content-base.scss */
html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
}

/* line 7, ../scss/content-base.scss */
h1, h2, h3, h4, h5, h6, p, figcaption, blockquote {
  line-height: 1.6em;
  margin: 0px;
}

/* line 12, ../scss/content-base.scss */
p, figcaption, blockquote {
  text-align: justify;
}

/* line 16, ../scss/content-base.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: justify;
}
/* line 22, ../scss/content-base.scss */
h1 a, h1 a:hover, h1 a:visited, h1 a:active, h2 a, h2 a:hover, h2 a:visited, h2 a:active, h3 a, h3 a:hover, h3 a:visited, h3 a:active, h4 a, h4 a:hover, h4 a:visited, h4 a:active, h5 a, h5 a:hover, h5 a:visited, h5 a:active, h6 a, h6 a:hover, h6 a:visited, h6 a:active, .h1 a, .h1 a:hover, .h1 a:visited, .h1 a:active, .h2 a, .h2 a:hover, .h2 a:visited, .h2 a:active, .h3 a, .h3 a:hover, .h3 a:visited, .h3 a:active, .h4 a, .h4 a:hover, .h4 a:visited, .h4 a:active, .h5 a, .h5 a:hover, .h5 a:visited, .h5 a:active, .h6 a, .h6 a:hover, .h6 a:visited, .h6 a:active {
  font-weight: inherit;
}

/* line 27, ../scss/content-base.scss */
h1, h2, h4, .h1, .h2, .h4 {
  font-weight: 400;
}

/* line 31, ../scss/content-base.scss */
blockquote {
  background-color: #999;
  clear: both;
}

/* line 36, ../scss/content-base.scss */
figcaption {
  background-color: #bbb;
}

/* line 40, ../scss/content-base.scss */
a, a:hover, a:visited, a:active {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
