$bottom-adj:.7;

h1, .h1 {
    font-size:em($content-h1);
    margin-bottom:em(vm($content-bottom * $bottom-adj,$content-h1)); 
}

h2, .h2 {
    font-size:em($content-h2);
    margin-bottom:em(vm($content-bottom * $bottom-adj,$content-h2)); 
}

h3, .h3 { 
    font-size:em($content-h3);
    margin-bottom:em(vm($content-bottom * $bottom-adj,$content-h3)); 
}

h5, h6, p, blockquote {
    font-size:em($content-p);
    margin-bottom:em(vm($content-bottom * $bottom-adj,$content-p)); 
}

blockquote, figcaption {
    padding:em(vm($content-pad,$content-p));
}

figcaption {
    font-size:em($content-p);
	
}