/*************************
    Images, Heros
*************************/

.stream-image, .content-image {
	background-color:#999;
	float:left;
	clear:both;
	margin-right:em($content-pad);
	/* margin-bottom:em($content-pad); */
}

.content-image {
	width:em($content-img-w);
}

.content-image.hero {
	width:em($content-hero-w);
}

.stream-image {
	width:em($stream-img-w);
	margin-bottom:em($content-pad);
}