@import 'compass/css3';

@import 'normalize.scss';
@import 'base.scss';

@import 'functions.scss';

/*************************
    Helpers
*************************/


.semantic-title {
    display:none;
}

#viewportWatch {
	color:#fff;
	padding:.5em;
	position:fixed;
	top:0px;
	right:0px;
	background-color:rgba(0,0,0,0.4);
	opacity:0.3;
	z-index:1000;
	font-size:3em;
}

.aspect-img {
	width:100%;
	height:auto;
}

/*************************
    VMin
*************************/

html {
	font-size:1vm;
	font-size:1vmin;
}

body {
	background:#eee;
}

/*************************
    Variables
*************************/

$base-pad:2;
$base-bottom:$base-pad;

$header-min:8;
$header-pad:$base-pad;
$header-offset:0;
$header-bottom:$base-bottom;
$header-total:$header-pad * 2 + $header-min + $header-offset;

$content-pad:$base-pad;
$content-bottom:$base-bottom;

$sb-pad:$base-pad;
$sb-bottom:$base-bottom;

$footer-pad:$base-pad;

$golden:1.6;





/*************************
    Text
*************************/

@import 'content-base.scss';

$content-h1:3.5;
$content-h2:3;
$content-h3:2.5;
$content-p:2.25;
$content-bottom:2;

$stream-img-w:30;
$content-img-w:35;
$content-hero-w:50;

@media (orientation:portrait) and (max-width:475px), (orientation:landscape) and (max-height:475px)  {
    @import 'content-text.scss';
    @import 'content-image.scss';
	
	.content-image.hero {
		width:100%;
		float:none;
	}
}

@media (orientation:portrait) and (min-width:476px) and (max-width:600px), (orientation:landscape) and (min-height:476px) and (max-height:600px)  {
    @import 'content-text.scss';
    @import 'content-image.scss';
	
	.content-image.hero {
		width:em($content-hero-w);
		height:em($content-hero-w);
	}
}

$content-h1:3;
$content-h2:2.5;
$content-h3:$content-h2;
$content-p:1.75;
$content-bottom:2;

@media (orientation:portrait) and (min-width:601px), (orientation:landscape) and (min-height:601px) {
    @import 'content-text.scss';
    @import 'content-image.scss';
	
	.content-image.hero {
		width:em($content-hero-w);
		height:em($content-hero-w);
	}
	
	.stream-image img {
		width:em($stream-img-w);
		height:em($stream-img-w * 1);
	}
}

/*************************
    Header
*************************/

 #site-header {
}
    
#site-id {

	background:#999;
	padding:em($header-pad);
	position:fixed;
	z-index:100;
	
	.nav-button {
		background:#555;
	}

	@media (orientation:portrait) {
		height:em($header-min);
		width:100%;
		box-shadow:0px em($content-pad / 4) em($content-pad / 2) rgba(0,0,0,0.4);
		
		.nav-button {
			display:inline-block;
			margin-right:em($header-bottom);
		}
		
		img {
			width:auto;
			height:100%;
		}
	}
	
	@media (orientation:landscape) {
		width:em($header-min);
		height:100%;
		box-shadow:0px em($content-pad / 4) em($content-pad / 2) rgba(0,0,0,0.4);
		
		.nav-button {
			margin-bottom:em($header-bottom);
		}
		
		img {
			width:100%;
			height:auto;
		}
	}
}

#site-nav {
	position:fixed;
	z-index:90;
	width:100%;
	height:100%;
	background:#666;
	padding:em($content-pad);
	display:none;
} 
	
#site-nav.active {
	display:block;
}

/*************************
    Basic Margins
*************************/

#content-body, #sidebar, #site-footer, #content-header {
	padding:em($content-pad);
}

#site-nav, #main-wrap {
	
	@media (orientation:portrait) {
		padding-top:em($header-total);
	}
	
	@media (orientation:landscape) {
		padding-left:em($header-total);
	}
	
}

/*************************
    Body / Sidebar
*************************/



@media (orientation:landscape) and (min-width:900px), (orientation:portrait) and (min-width:900px) {
	
	#content-wrap {
		@include display-box;
		@include box-orient(horizontal);
	}
	
	#content-main {
		@include box-flex(1);
	}
	
	#sidebar {
		@include box-flex(0);
	}
	
}

/*************************
    Content-Header
*************************/

#content-header {
	color:#fff;
	background-color:#333;
	min-height:em($header-min + $header-pad);
	box-sizing:border-box;
	position:relative;
	
	h1 {
		margin:0px;
		/* position:absolute;
		left:em(vm($content-pad,$content-h1));
		bottom:em(vm($content-pad,$content-h1)); */
	}
}

/*************************
    Stream
*************************/

.stream-item {
	
	clear:both;
	margin-bottom:em($content-pad);
	
	.call2action {
		float:right;
	}
}


/*************************
    Sidebar
*************************/

#sidebar {
	background:#aaa;
	clear:both;
}

.sb-module {
	background:#ddd;
	margin-bottom:em($content-bottom);
}

.sb-module.cam {
	padding:em($content-pad);
	box-sizing:border-box;
}

.sb-module.ad .sb-inner {
	width:300px;
	height:250px;
	background:#999;
	margin:0px auto em($content-bottom);
}

@media (orientation:landscape) and (min-width:800px), (orientation:portrait) and (min-width:800px) {
	.sb-module {
		width:300px;
		box-sizing:content-box;
	}
}


/*************************
    Footer
*************************/

#site-footer {
	color:#fff;
	background-color:#333;
	clear:both;
}
