{% extends 'base.html' %}

{% block content_header_text %}
	They were killed in their laboratories  even as they studied the germ
{% endblock %}

{% block content_main %}

        <figure class="content-image hero">
            <img class="aspect-img" src="img/trans-3x2.png" />
        </figure>
        <!-- <h1>And it was because of all this that the bacteriologists had so little</h1> -->
        <p>"For twenty-four hours, he said, no transatlantic airships had arrived,  and no more messages were coming from England. He did state, though,  that a message from Berlin&mdash;that's in Germany&mdash;announced that Hoffmeyer,  a bacteriologist of the Metchnikoff School, had discovered the serum for  the plague. That was the last word, to this day, that we of America  ever received from Europe. If Hoffmeyer discovered the serum, it was too  late, or otherwise, long ere this, explorers from Europe would have  come looking for us. We can only conclude that what happened in America  happened in Europe, and that, at the best, some several score may have  survived the Scarlet Death on that whole continent.</p>

		<p>"For one day longer the despatches continued to come from New York.  Then they, too, ceased. The man who had sent them, perched in his lofty  building, had either died of the plague or been consumed in the great  conflagrations he had described as raging around him. And what had  occurred in New York had been duplicated in all the other cities. It was  the same in San Francisco, and Oakland, and Berkeley. By Thursday the  people were dying so rapidly that their corpses could not be handled,  and dead bodies lay everywhere. Thursday night the panic outrush for  the country began. Imagine, my grandsons, people, thicker than the  salmon-run you have seen on the Sacramento river, pouring out of the  cities by millions, madly over the country, in vain attempt to escape  the ubiquitous death. You see, they carried the germs with them. Even  the airships of the rich, fleeing for mountain and desert fastnesses,  carried the germs.</p>

		<p>"Hundreds of these airships escaped to Hawaii, and not only did they  bring the plague with them, but they found the plague already there  before them. This we learned, by the despatches, until all order in San  Francisco vanished, and there were no operators left at their posts to  receive or send. It was amazing, astounding, this loss of communication  with the world. It was exactly as if the world had ceased, been blotted  out. For sixty years that world has no longer existed for me. I know  there must be such places as New York, Europe, Asia, and Africa; but not  one word has been heard of them&mdash;not in sixty years. With the coming of  the Scarlet Death the world fell apart, absolutely, irretrievably. Ten  thousand years of culture and civilization passed in the twinkling of an  eye, 'lapsed like foam.'</p>
		
        <figure class="content-image">
            <img class="aspect-img" src="img/trans-5x4.png" />
            <figcaption>
                They were killed in their laboratories  even as they studied the germ
            </figcaption>
        </figure>
		
        <h2>They were killed in their laboratories  even as they studied the germ</h2>

		<p>"I was telling about the airships of the rich. They carried the plague  with them and no matter where they fled, they died. I never encountered  but one survivor of any of them&mdash;Mungerson. He was afterwards a Santa  Rosan, and he married my eldest daughter. He came into the tribe eight  years after the plague. He was then nineteen years old, and he was  compelled to wait twelve years more before he could marry. You see,  there were no unmarried women, and some of the older daughters of the  Santa Rosans were already bespoken. So he was forced to wait until  my Mary had grown to sixteen years. It was his son, Gimp-Leg, who was  killed last year by the mountain lion.</p>

		<p>"Mungerson was eleven years old at the time of the plague. His father  was one of the Industrial Magnates, a very wealthy, powerful man. It was  on his airship, the Condor, that they were fleeing, with all the family,  for the wilds of British Columbia, which is far to the north of here.  But there was some accident, and they were wrecked near Mount Shasta.  You have heard of that mountain. It is far to the north. The plague  broke out amongst them, and this boy of eleven was the only survivor.  For eight years he was alone, wandering over a deserted land and looking  vainly for his own kind. And at last, travelling south, he picked up  with us, the Santa Rosans.</p>

        <h3>They were killed in their laboratories  even as they studied the germ of the Scarlet Death.</h3>
		
		<p>"But I am ahead of my story. When the great exodus from the cities  around San Francisco Bay began, and while the telephones were still  working, I talked with my brother. I told him this flight from the  cities was insanity, that there were no symptoms of the plague in  me, and that the thing for us to do was to isolate ourselves and our  relatives in some safe place. We decided on the Chemistry Building, at  the university, and we planned to lay in a supply of provisions, and by  force of arms to prevent any other persons from forcing their presence  upon us after we had retired to our refuge.</p>
        
		<blockquote>And it was because of all this that the bacteriologists had so little  chance in fighting the germs. They were killed in their laboratories  even as they studied the germ of the Scarlet Death. They were heroes.  As fast as they perished, others stepped forth and took their places.  It was in London that they first isolated it. The news was telegraphed  everywhere.</blockquote>
		
    
{% endblock %}