{% extends 'base.html' %}

{% block content_main %}
    <div class="hp-row">
        <figure class="full">
            <img src="img/trans-2x1.png" />
            <figcaption>
                <span>From the moment of the first signs of it, a man would be dead in an  hour.</span>
            </figcaption>
        </figure>
    </div>
    <div class="hp-row">
        <figure class="major">
            <img src="img/trans-2x1.png" />
            <figcaption>
                <span>From the moment of the first signs of it, a man would be dead in an  hour.</span>
            </figcaption>
        </figure>
        <figure class="minor">
            <img src="img/trans-1x1.png" />
            <figcaption>
                <span>From the moment of the first signs of it, a man would be dead in an  hour.</span>
            </figcaption>
        </figure>
    </div>
    
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    
{% endblock %}