{% extends 'base.html' %}

{% block content_header %}
    <header id="content-header">
        <h1>Category Title</h1>
    </header>
{% endblock %}

{% block content_main %}
    
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    {% include 'stream-fragment.html' %}
    
{% endblock %}